{% extends "basic_app/basic_app_base.html"%}

{% block body_block %}

<div class="jumbotron">
    <h1>Please Login</h1>
    <form method="POST" action="{%url 'basic_app:user_login'%}">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">

        <label for="password"></label>
        <input type="password" name="password">

        <input type="submit" name="" value="Login">

    </form>

</div>

{% endblock %}
