{% extends "basic_app/basic_app_base.html"%}

{% block body_block %}
    <h1>Welcome to School LIST</h1>
    <ol>
        {% for school in schools %}
            <h2><li><a href="{{school.id}}">{{school.name}}</a></li></h2>
        {% endfor%}
    </ol>
{% endblock %}