{% extends "basic_app/basic_app_base.html"%}

{% block body_block %}

<h1>Delete {{school.name}}?</h1>
<form method="post">
    {% csrf_token %}

    <input type="submit" class="btn btn-danger" value="Delete">
    <a href="{% url 'basic_app:detail' pk=school.pk %}">Cancel</a>

</form>

{% endblock %}